html, body {
    width: 100%;
    height: 100%;
}

.header {
    height: 70px;
    width: 1349px;
    /*background: red;*/

}

.navbar-left {
    float: left;
    margin-left: 90px;
    margin-top: 18px;

}

.navbar-right {
    float: right;
}

.navbar-right {
    width: 730px;

    margin-right: 90px;

}

.navbar-right ul li {
    float: left;
    /*padding-right: px;*/
    margin-top: 22px;

}

.header-ul li:first-child {
    margin-right: 50px;

}
/*好好看看这哪里出的问题*/
/*.header-ul li:first-child > a {*/
    /*vertical-align: middle;*/
/*}*/

.navbar-right  li a {
    padding: 10px 15px;
    color: #121212;
    fold-weight: bold;
    line-height: 20px;
    /*font-size: 16px;*/
    font: 16px/1.5 latoregular, Verdana, sans-serif;
}
.header-ul .active{
    color: red;
}

li a:hover {
    color: #e94840
}

li a img {
    vertical-align: middle;
}

.dengru {
    padding: 4px 6px !important;
    color: #fff !important;
    background: #e94840;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 15px;
}

.showCity:hover {
    font: 16px/1.5 latoregular, Verdana, sans-serif;

}



/*轮播图*/

.carousel {

    /*position: relative;*/
    width: 100%;
    height: 420px;
}
.carousel-pic{
    height: 100%;
    width: 100%;
    position: relative;
}
.bg-pic {
    height: 420px;

}
.bg-pic li {
    background: url('../image/banner/banner1.jpg') center center no-repeat;
    height: 420px;
    width: 100%;
}
.hb{
    position: absolute;

    width: 100%;
    height: 10px;
    /*background: red;*/
    z-index:1;
    text-align: center;
    bottom: 10px;
}
.hb span{

    width:10px;
    height:10px;
    background: #908A88;
    display: inline-block;
    margin: 0 5px;
    border-radius: 5px;

}
.tab{
    width:180px;
    height:420px ;
    background: #757881;
    position: absolute;

    top:70px;
}
.tab li{
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight:bold;
}
.tab_detail{
    position: absolute;
    top:1px;
    left: 181px;
    width:180px;
    height:420px ;
    background: mediumvioletred;
    text-align: center;
    display: none;
}
.tab li:hover{
    background: red;
}

.tab li span{
    color:#fff;
    margin-right: 28px;
    margin-left: 27px;
}
.tab_detail a {
    color:black;
}

/*家庭保洁*/
.box1 {
    height: 560px;
    width: 100%
}

.box1:nth-child(even) {
    background: #FBF8F8;
}

.fff {
    width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
    clear: both;
}

.navigation {
    text-align: center;
}

.navigation span {
    display: block;
}

.navigation span.serviceIndex {
    color: #3d3838;
    font-weight: 800;
    font-size: 28px;
    font-family: "Microsoft YaHei";
}

.serviceType {
    font-size: 22px;
    color: #3d3838;
    margin-top: 15px;
}

/*更多服务*/
.headerService {
    text-align: right;
}

/*更多服务下面的图片*/
.row {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
}

.ServiceBorder {
    float: left;
    padding: 10px;
    width: 208px;
    border: 1px solid #eaeaea;
    margin: 0 5px;
    background: #fff;
    cursor: pointer;
    height: 345px;
}

.serviceName {
    font-size: 16px;
    padding: 10px 0;
    font-weight: 800;
    color: #000;
    height: 10px;
    overflow: hidden;
    width: 101%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.description {
    color: #929292;
    padding: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    font-size: 13px;
    line-height: 18px;
    height: 58px;
}

.price {
    font-size: 14px;
    padding: 5px 5px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    color: #E94840;
}

.btn {
    float: right;
    padding: 0;
    width: 76px;
    height: 24px;
    line-height: 22px;
    text-align: center;
    background: #E94840;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}

/*底部*/

.baozhang {
    text-align: center;
    width: 100%;
    padding-top: 60px;
    background: #fff;
    /*clear: both;*/
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#baozhang h2 {
    font-size: 28px;
    font-family: "微软雅黑";
    font-weight: 800;
}

#baozhang h2 i {
    color: #fb474f;
}

#baozhang p {
    font-size: 20px;
    color: #3d3838;
    margin: 0;
}

.servi {
    width: 100%;
    padding-top: 68px;
    background: #fff;
    height: 150px;
    font-family: "微软雅黑";
    /*text-align: center;*/
}

.servi_ul {
    width: 800px;
    margin: 0 auto;
    /*overflow: hidden;*/
    /*text-align: center;*/

}

.servi ul li {
    /*width: 33%;*/
    float: left;
    display: inline-block;
    color: #1d1515;
    /*margin:0 50px;*/
    padding: 0 100px;
    font-size: 18px;
}

.servi ul li img {
    margin-bottom: 10px;
}

.footer {
    width: 100%;
    clear: both;
    padding-top: 50px;
    height: 160px;
    background: #fff;
}

.footer dl {
    width: 1200px;
    margin: 0 auto;
}

.footer dl dt {
    overflow: hidden;
    float: left;
    font-family: " 微软雅黑";
}

dt {
    font-weight: 700;
}

dd, dt {
    line-height: 1.42857143;
}

.footer dl dd {
    margin-left: 36px;
    width: 1100px;
    line-height: 30px;
    float: left;
}

.footer dl dd i {
    font-size: 16px;
    color: #898989;
    display: inline-block;
    width: 9%;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
    font-family: "微软雅黑";
}

body, ul, li, i {
    list-style: none;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.beian {
    width: 100%;
    height: 130px;
    text-align: center;
    padding-top: 50px;
}

.beian p {
    color: #898989;
    margin: 0 0 1.5em;
}









